## .NET
bin/
obj/
*.user
*.suo
.vs/
.vscode/
*.swp

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/build/
nuget.config

## Test results
TestResults/
*.coverage
*.coveragexml
coverage*/

## JetBrains
.idea/
*.sln.iml

## macOS
.DS_Store
